<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Roulette</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
