body {
  padding: 0;
  margin: 0;
}

.ui.form {
  width: 300px;
  height: 300px;

  /* Center form on page horizontally & vertically */
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}
/*mobile first*/
@media only screen and (min-width: 600px) {
  .ui.sidebar.inverted.vertical.menu {
    display: block;
  }
}

@media only screen and (max-width: 600px) {

}
